{% extends 'core/base.html' %}

{% block tittle %}
Contacte
{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}

{% block headers %}
<h1>Gerard López Villena</h1>
<span class="subheading">Contacte</span>
{% endblock %}

{% block content %}
<div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
</div>
<div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Gerard López Villena</h2>
    <p>telefon: 0034687847539</p>
    <p><a href="mailto:gerardlopezvillena@gmail.com">gerardlopezvillena@gmail.com</a></p>
</div>

{% endblock %}
